
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1<del> Profilim</del></p>
<p>#2 <del>Tüm başlıklarda paging</del></p>
<p>#3<del> Mesajlarda Session</del></p>
<p>#4<del>  Oturum Yönetiminin mimariye taşınması</del></p>
<p>#5 Başlıklarda arama kutucuğu</p>
<p>#6 Yazar görselleri düzenlenecek</p>
<p>#7 Grafikler</p>
<p>#8 Vitrin</p>
<p>#9 Gelen Kutusunda Arama</p>
<p>#10 Yetkilendirmeler</p>
<p>#11 Hata sayfası layouttan ayrılacak</p>
<p>#12 Sözlük ve vitrin ayrılacak</p>
<p>#13 Herhangi bir tablo raporlanacak</p>
<p>#14 Proje dosyaları sunucuya taşınacak</p>
<p>#15 Alan adı alınacak </p>
<p>#16 Proje canlıya taşınacak </p>
<p>o zaman dans</p>




