
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Kamp Örneği - Kategori</h3>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><buton class="btn btn-success">Güncelle</buton></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><buton class="btn btn-success">Güncelle</buton></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kitap</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><buton class="btn btn-success">Güncelle</buton></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sineme</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><buton class="btn btn-success">Güncelle</buton></td>
        </tr>
    </tbody>
    
</table>
<buton class="btn btn-info">Yeni Kategori</buton>
<buton class="btn btn-warning">Kategori Listesi</buton>
<buton class="btn btn-danger">Kategori Açıklamaları</buton>